{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Inter Invest welcomes you</h1>
    <p>
        Specialists at your service.<br>
        Our experts are at your disposal to answer all your questions whatever the solution you need.
    </p>
    <br>
    <b>Here the list legal forms of society:</b>
    <ul>
        {% for legal_form in legal_forms %}
            <li> {{legal_form}} </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
